version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: env.dev.env
    ports: 
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - backend
  postgres:
    image: postgres:13-alpine
    env_file: env.dev.env
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  db-data: